<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}My amazing site{% endblock %}</title>
</head>

<body>
    <div id="navbar">
        {% block navbar %}
        <ul>
            <li><a href={% url 'landingPage' %}>Home</a></li>
        {% if user.is_authenticated %}
            <li><a href={% url 'profilePage' 'user.username' %}>Profile</a></li>
            <li><a href={% url 'logout' %}>Logout</a></li>
            <li><a href={% url 'cartPage' %}>Cart</a></li>
            <li><a href={% url 'wishlistPage' %}>Wishlist</a></li>

            
        {% else %}
            <li><a href={% url 'login' %}>Login</a></li>
            <li><a href={% url 'registerPage' %}>Sign Up</a></li>
            
        {% endif %}   
        </ul>

        {% endblock %}

        {% block searchbar %}
        <form action="" method="GET" >
            {{ form }}
            <button>Submit</button>
        </form>
        <br>
        {% endblock %}
        
        {% block filterbar %}
            <h1>filter</h1>
            <form action="" method="GET" >
                {{ filters.form }}
            <button>Submit</button>
        </form>
        <br>
        {% endblock %}

    </div>

    <div id="content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>