{% extends 'website/base.html' %}

{% block title %} Home {% endblock %}

{% block filterbar%}{%endblock%}

{% block content %}

    <img src="{{ product.image.url }}">
    <h1>{{ product.name }} </a></h1>
    <h3>{{product.rate}}</h3>
    <h3>price : IDR {{ product.price }}</h3>
    {% if added_wishlist %}
        <h2>Added to wishlist Successfully</h2>
    {% endif %}
    
    {% if added_cart %}
        <h2>Added to cart Successfully</h2>
    {% endif %}
    <br>
    <form action="#" method="get">
        <label for="qty">quantity:</label><br>
        <input type="number" value=1 name='qty' > <br>
        <input type="submit" class="btn" value="Add to Cart" name="add_to_cart">
        <input type="submit" class="btn" value="Add to Wishlist" name="add_to_wishlist">
        <input type="submit" class="btn" value="Buy Now" name="buy_now">
    </form>
    <br>
    <h1>description</h1>
    <h3>{{product.description}}</h3>
    <br>
    <h1>review</h1>
    {% for i in product.review.all  %}
        <h3>{{i.review}}</h3>
        <h4>review by {{i.customer}}</h4>
    {%endfor%}


{% endblock %}