{% extends 'website/base.html' %}

{% block title %} Home {% endblock %}

{% block searchbar %}
    <form action="" method="GET" >
        {{form}}
        {{ filters.form }}
        <button>Submit</button>
    </form>
{% endblock %}

{% block content %}

    <div id = 'product'>
        <h1>product</h1>
        {% for product in products %}
            <img src="{{ product.image.url }}">
            <h1><a href="{% url 'detailproduct' product.id %}">{{ product.name }} </a></h1>
            <h3>IDR {{ product.price }}</h3>
            <br>
        {% endfor %}
    </div>


{% endblock %}